body{
  margin:0;
  min-width: 300px;
}

*{
  box-sizing: border-box;
}

ul{
  margin:0;
  padding:0;
}

ul li{
  position: relative;
  background-color: #cecece;
  list-style-type: none;
  cursor: pointer;
  padding:10px 6px 10px 40px;
}

ul li:nth-child(odd){
  background-color: #f6f9f3;
}

ul li.checked::before{
  content:' ';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 15px;
  transform: rotate(45deg);
  height: 15px;
  width: 10px;
}

ul li:hover{
  background-color: #ddd;
}
